<nav class="fixed bottom-0 w-full shadow">
  <ul class="flex justify-between items-center p-2 px-10 py-4 bg-offBlack w-full" style="border-radius: 17px 17px 0 0;">

    <li>
      <a routerLink="/home" class="navbar-link space-y-2 flex flex-col justify-start items-center">
        <fa-icon [icon]="['fas', 'home']" 
          class="text-2xl" 
          [ngClass]="{'text-finPurple': isActive('/home'), 'text-white': !isActive('/home')}">
        </fa-icon>

        <div 
          style="height: 8px; width: 8px;" 
          class="rounded-full "
          [ngClass]="{'bg-finPurple ': isActive('/home'), 'bg-offBlack': !isActive('/home')}"
        ></div>
      </a>
    </li>

    <li>
      <a routerLink="/transactions/create" class="navbar-link space-y-2 flex flex-col justify-start items-center">
        <fa-icon [icon]="['fas', 'dollar-sign']" 
          class="text-2xl" 
          [ngClass]="{'text-finPurple': isActive('/transactions/create'), 'text-white': !isActive('/transactions/create')}">
        </fa-icon>
        <div 
          style="height: 8px; width: 8px;" 
          class="rounded-full "
          [ngClass]="{'bg-finPurple ': isActive('/transactions/create'), 'bg-offBlack': !isActive('/transactions/create')}"
        ></div>
      </a>
    </li>
    
    <li>
      <a routerLink="/analytics" class="navbar-link space-y-2 flex flex-col justify-start items-center">
        <fa-icon [icon]="['fas', 'chart-pie']" 
          class="text-2xl" 
          [ngClass]="{'text-finPurple': isActive('/analytics'), 'text-white': !isActive('/analytics')}">
        </fa-icon>
        <div 
          style="height: 8px; width: 8px;" 
          class="rounded-full "
          [ngClass]="{'bg-finPurple ': isActive('/analytics'), 'bg-offBlack': !isActive('/analytics')}"
        ></div>
      </a>
    </li>
    
    <li>
      <a routerLink="/user" class="navbar-link space-y-2 flex flex-col justify-start items-center">
        <fa-icon [icon]="['fas', 'user']" 
          class="text-2xl" 
          [ngClass]="{'text-finPurple': isActive('/user'), 'text-white': !isActive('/user')}">
        </fa-icon>
        <div 
          style="height: 8px; width: 8px;" 
          class="rounded-full "
          [ngClass]="{'bg-finPurple ': isActive('/user'), 'bg-offBlack': !isActive('/user')}"
        ></div>
      </a>
    </li>

    </ul>

    <!-- <fa-icon  class="text-white text-2xl" [icon]="['fas', 'chart-pie']"></fa-icon> -->
    <!-- <fa-icon  class="text-white text-2xl" [icon]="['fas', 'user']"></fa-icon> -->

</nav>
