<div 
  class="h-full bg-black p-4"
  style="background-image: linear-gradient(180deg, rgb(26.259330734610558, 21.81666612625122, 29.75000012665987) 2.8015153482556343%, rgb(0, 0, 0) 37.220874428749084%);"
  >
  
  <div #register class="h-full p-8 space-y-12">
    
    <div class="space-y-2">
      <h1 class="text-white text-5xl">Get Started Today </h1>
      <h2 class="text-lightOffWhite"><span class="font-medium">Register now for free</span> and start investing on you</h2>
    </div>
    <!-- <form 
      class="space-y-6"
      [formGroup]="registerForm" 
      (ngSubmit)="onSubmit()">
  
      <input class="bg-transparent text-offWhite border-b border-white p-2 w-full" type="text" placeholder="Enter your username" formControlName="username" />
      <input class="bg-transparent text-lightOffWhite border-b border-white p-2 w-full" type="text" placeholder="Enter your Email" formControlName="email" />
      <input class="bg-transparent text-lightOffWhite border-b border-white p-2 w-full" type="password" placeholder="Enter your Password" formControlName="senha" />
      <input class="bg-transparent text-lightOffWhite border-b border-white p-2 w-full" type="Confirmpassword" placeholder="Confirm your Password" />
      <button class="bg-transparent border border-white rounded-full py-3 flex justify-center w-full text-lightOffWhite " type="submit">Sign Up</button>
    </form> -->
    <span class="">Already has an account? <span class="border-b border-offwhite">Sing in</span></span>

  </div>

  
</div>
