<div class="h-full bg-black p-4 space-y-4">
    <div class="space-y-2">
        <div 
            style="
                background-image: url(../../../assets/360_F_298473896_Vsz21xTwMtroEeeGgU8pL2vwt3N65pfR.png);
                border-radius: 20px;"
            class="card-balance bg-cover px-6 py-8 flex flex-col text-offWhite">
            <span class="text-sm">Total Balance</span>
            <span class="text-white text-4xl font-medium">R$ 15000<span class="text-base font-normal">.00</span></span>
        </div>

        <div class="flex flex-row space-x-4">
            <div class="w-full text-offWhite flex items-center bg-offBlack rounded-lg px-2 py-4 space-x-4">
                <fa-icon  class="bg-offBlack_2 text-2xl py-1.5 px-3 rounded-lg" [icon]="['fas', 'arrow-up']"></fa-icon>
                <div class=" flex flex-col">
                    <span class="text-xs">income</span>
                    <span>R$ 450.00</span>
                </div>
            </div>
            <div class="w-full text-offWhite flex items-center bg-offBlack rounded-lg px-2 py-4 space-x-4">
                <fa-icon  class="text-rose-300 bg-offBlack_2 text-2xl py-1.5 px-3 rounded-lg" [icon]="['fas', 'arrow-down']"></fa-icon>
                <div class=" flex flex-col">
                    <span class="text-xs">spending</span>
                    <span>R$ 450.00</span>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="flex justify-between">
            <h2 class="text-offWhite">Transections</h2>
            <span class="text-finPurple">See more</span>
        </div>
    </div>

</div>